.comment_form
  -form_for comment do |f|
    = f.error_messages
    = f.hidden_field :ticket_id
    .info_text add Comment
    .value= f.text_area :text, :rows => 4, :cols => 70

    .right.comment_submit_button= f.submit "Save"
