html {
  background-color: #363232;
  min-width: 1024px;
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 1em sans-serif; }

#body {
  min-height: 100%;
  position: relative;
  font-size: 100%; }

a {
  color: #3d42a8; }
  a:hover {
    color: blue; }

h1 {
  color: #706a6a;
  font-weight: bold;
  font-size: 200%; }

h2 {
  color: #706a6a;
  font-weight: bold;
  font-size: 150%; }

h3 {
  color: #706a6a;
  font-weight: bold;
  font-size: 120%; }

h4 {
  color: #706a6a;
  font-weight: bold;
  font-size: 100%; }

h5 {
  color: #706a6a;
  font-weight: bold;
  font-size: 80%; }

h6 {
  color: #706a6a;
  font-weight: bold;
  font-size: 60%; }

#header {
  width: 100%;
  background-color: #302559;
  min-width: 1024px;
  min-height: 3.5em;
  border-bottom: 5px solid #4f2fcc; }
  #header .title {
    width: 10em;
    float: left;
    font-size: 200%;
    color: #4d4a4f;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 10px; }
  #header .tag {
    padding-top: 28px;
    color: #4d4a4f;
    float: left;
    font-size: 80%;
    font-weight: bold; }
  #header .flash_holder {
    margin-top: 0.5em;
    margin-left: 1em;
    float: left;
    width: 50%; }
  #header a {
    color: grey; }
    #header a:hover {
      color: blue; }
  #header .links {
    float: right;
    padding-top: 15px;
    padding-right: 40px; }

#content {
  min-height: 30em; }

#footer {
  border-top: 2px solid black; }

#sub_heading {
  margin-top: 4px;
  margin-left: 10px; }
  #sub_heading .title {
    color: #706a6a;
    font-weight: bold;
    font-size: 150%;
    margin-top: 15px;
    display: inline; }

.title {
  color: #706a6a;
  font-weight: bold;
  font-size: 150%; }

.sub_title {
  color: #706a6a;
  font-weight: bold;
  font-size: 120%; }

.info_text {
  color: #706a6a;
  font-weight: bold; }

.index_details {
  font-size: 80%; }

#welcome_page .centered {
  margin-top: 3em; }
#welcome_page .project_list_item {
  margin: 1em; }
#welcome_page #quick_ticket {
  display: none; }
#welcome_page #create_project {
  margin-top: 1em;
  display: none; }
#welcome_page #latest_tickets_list {
  font-size: 80%;
  float: right;
  margin-top: 2em;
  margin-right: 3em; }
#welcome_page .label {
  color: #706a6a;
  font-weight: bold; }
#welcome_page .widget {
  min-height: 5em;
  border: 0.4em solid #4f2fcc;
  background-color: transparent; }
  #welcome_page .widget .login_bttn {
    float: right; }
#welcome_page a {
  color: grey; }
  #welcome_page a:hover {
    color: blue; }
#welcome_page li a {
  color: #706a6a;
  font-weight: bold;
  font-size: 120%;
  font-weight: bold; }
  #welcome_page li a:hover {
    font-size: 130%;
    color: #6b5d5a; }

#tickets_index .centered {
  width: 70%; }
#tickets_index .widget {
  margin-bottom: 1em;
  background-color: #abb4ed;
  padding: 0em; }
  #tickets_index .widget .details {
    padding: 0.5em 1em 1em 1em; }
  #tickets_index .widget .heading {
    padding: 0.5em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid black;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    display: inline-block; }
    #tickets_index .widget .heading .number {
      display: inline;
      color: #4f2fcc;
      float: left; }
    #tickets_index .widget .heading .ticket_title {
      float: left;
      margin-left: 1em; }
    #tickets_index .widget .heading .links {
      float: right; }
    #tickets_index .widget .heading {
      display: block; }

.ticket_type_link_div {
  display: inline; }

#tickets_show .centered {
  width: 70%; }
#tickets_show #ticket_show {
  margin-top: 2em; }
  #tickets_show #ticket_show .widget {
    margin-bottom: 1em;
    background-color: #abb4ed; }
    #tickets_show #ticket_show .widget .details {
      padding: 0.5em 1em 1em 1em; }
    #tickets_show #ticket_show .widget .heading {
      padding: 0.5em 0.5em 0.2em 0.5em;
      border-bottom: 1px solid black;
      overflow: auto;
      overflow: -moz-scrollbars-none;
      display: inline-block; }
      #tickets_show #ticket_show .widget .heading .number {
        display: inline;
        color: #4f2fcc;
        float: left; }
      #tickets_show #ticket_show .widget .heading .ticket_title {
        float: left;
        margin-left: 1em; }
      #tickets_show #ticket_show .widget .heading .links {
        float: right; }
      #tickets_show #ticket_show .widget .heading {
        display: block; }

#projects_index .centered {
  width: 65%; }
#projects_index .widget {
  padding: 0.8em 1em 1em 1em; }
  #projects_index .widget .heading {
    color: #706a6a;
    font-weight: bold;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    display: inline-block; }
    #projects_index .widget .heading .project_name {
      float: left;
      font-size: 130%; }
    #projects_index .widget .heading .date {
      float: right; }
    #projects_index .widget .heading {
      display: block; }
  #projects_index .widget .body {
    margin-top: 1em; }
    #projects_index .widget .body .details {
      float: left; }
    #projects_index .widget .body .links {
      float: right; }

#project_new .centered {
  margin-top: 4em; }

#project_show .centered {
  width: 60%; }
#project_show .widget .heading {
  color: #706a6a;
  font-weight: bold;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  display: inline-block; }
  #project_show .widget .heading .project_name {
    float: left;
    font-size: 150%; }
  #project_show .widget .heading {
    display: block; }
#project_show .widget .project_info {
  color: #706a6a;
  padding: 1em; }
#project_show .widget .css_table .label {
  padding: 0;
  color: #706a6a;
  font-weight: bold; }

#users_index .centered {
  width: 70%;
  margin-top: 1em; }

#new_user .centered {
  width: 60%;
  margin-top: 2em; }
#new_user .user_form {
  padding: 1em; }
