#user_show
  .hanging_widget
    = link_to 'Back', users_path
    |
    = link_to_function 'Edit', "toggeler('edit_user_link', 'show_user', 'update_user', 'Edit', 'Cancel')", :href => edit_user_path(@user), :id => "edit_user_link"
  .clear
  .centered
    #show_user{:class => 'widget'}
      .css_table
        .label Username:
        .value=h @user.username
      .css_table
        .label Email:
        .value=h @user.email

    #update_user.hidden.widget
      = render :partial => 'form', :locals => {:user => @user }
