= hidden_field_tag :ticket_type, ticket_type.nil? ? 'All' : ticket_type
= hidden_field_tag :title_ticket_type, ticket_type.nil? ? 'All' : ticket_type.to_s.humanize.titlecase

- tickets.each do |ticket|
  %div{:id => "ticket_id_#{ticket.id}", :class => 'foobar'}
    = render :partial => 'tickets/widget', :locals => {:ticket => ticket}

:javascript
  $(function(){
    var title = $('#title_ticket_type').val();
    var type = $('#ticket_type').val();
    var name = $('#project_name').val();
    var p_id = $('#project_id').val();

    $('#sub_heading_title_text').html(title + ' Tickets for ' + "<a href='/projects/" + p_id + "'>" + name + "</a>");
    $('.ticket_type_link_div').show();
    $('#ticket_link_' + type).hide();
  });
